body{
    text-align: center;
    background-image:url("todo\ app\ image\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 250px;
}

button:active{
        background-color:black;
        color:white;
}

button{
    margin: 3px;
    background-color: peru;
}

li>hr{
   background-color: darkgoldenrod;
}

@media only screen and (max-width: 600px) {
    button {
      width: 100px;
    }
  }







